/* ----------- GLOBAL ----------- */
HTML:root {
  --dark: #3D405B;
  --text: var(--five);

  --one: #FFE6A7;
  --two: #FFEEC2;
  --three: #FFF9EB;
  /* --three: #B7B7A4; */
  --four: #6B705C;
  --five: #606553;
  --six: #4A4F40;

  --topNavHeight: 72px;
  --introductionHeight: 100vh;
  --aboutHeight: 100vh;
  --projectsHeight: 100vh;
  --skillsHeight: 50vh;
  --containerPadding: 144px;
  --borderRadius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: initial;
}

body {
  background-color: var(--two);
  font-family: 'Spartan', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* ---------- NAV ----------- */
.nav-text {
  color: var(--text);
  height: 22px;
  font-size: 20px;
  font-weight: 300;
}

/* ----- TOP NAV ----- */
#top-nav {
  position: absolute;
  z-index: 10;
  height: var(--topNavHeight);
  background-color: var(--nav);
}

.nav-icon {
  padding: 5px 8px !important;
}

#top-nav-socialmedia {
  list-style-type: none;
  z-index: 10;
  height: var(--topNavHeight);
  background-color: var(--nav);
}

#top-nav-socialmedia-list {
  list-style-type: none;
  z-index: 10;
  height: var(--topNavHeight);
  background-color: var(--nav);
}

#top-nav-socialmedia-list > li > a {
  padding: 0;
}

#top-nav-socialmedia-list > li > a > div > svg {
  padding: 0;
  vertical-align: unset;
  /* margin-top: unset !important; */
}

@media screen and (max-width: 992px) {
  #top-nav-socialmedia,
  #top-nav-list {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  #top-nav-list > ul {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0 !important;
  }

  #side-nav-button {
    visibility: visible;
    opacity: 1;
    width: auto;
    color: var(--text);
    vertical-align: top;
  }
}

@media screen and (min-width: 992px) {
  #side-nav-button-container {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0 !important;
  }

  #side-nav-button {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0 !important;
    vertical-align: top;
  }
}

/* ----- SIDE NAV ----- */
#side-nav-container {
  z-index:1;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  height: 250px;
  width: 0px;
  position: absolute;
  background-color: var(--one);
}

#side-nav {
  z-index:10;
  top: 0;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  list-style-type: none;
  background-color: var(--nav);
}

#side-nav-list {
  z-index:10;
  margin-top: var(--topNavHeight);
  display: none;
  list-style-type: none;
  white-space: nowrap;
}

#side-nav-list > li {
  z-index:10;
  display: flex;
  align-items: flex-end;
  height: 40px;
}

.about-cta {
  margin-top: auto;
}

/* ----------- PARTICLES CONTAINER ----------- */
#particles-js {
  z-index:-1;
  position: absolute;
  min-height: var(--introductionHeight);
  width: 100%;
  background-color: var(--one);
  background-position: 50% 50%;
}

.particles-js-canvas-el {
  height: 100vh !important;
}

/* ----------- TEXT ---------- */
@media screen and (max-width: 992px) {
  .text {
    color: var(--text) !important;
  }
  .text-title {
    font-size: 4.8387vw;
    font-weight: 600;
    margin-left: -2px;
  }
  .text-subtitle {
    font-size: 3.2258vw;
    font-weight: 600;
  }
  .text-body {
    font-size: 2.173vw;
    font-weight: 300;
  }
  .text-small {
    font-size: 2.419vw;
    font-weight: 300;
  }
  #not {
    font-size: 2.016vw;
    vertical-align: text-top;
    position: relative;
    top: -0.87vw !important;
  }
}

@media screen and (min-width: 992px) {
  .text {
    color: var(--text) !important;
  }
  .text-title {
    font-size: 48px;
    font-weight: 600;
    margin-left: -2px;
  }
  .text-subtitle {
    font-size: 32px;
    font-weight: 600;
  }
  .text-body {
    font-size: 24px;
    font-weight: 300;
  }
  .text-small {
    font-size: 20px;
    font-weight: 300;
  }
  #not {
    font-size: 13.7px;
    vertical-align: text-top;
    position: relative;
    top: -5px !important;
  }
}

/* ----------- INTRODUCTION SECTION ----------- */
#introduction {
  min-height: var(--introductionHeight);
  width: 100%;
  padding-top: calc(var(--containerPadding) * 1.8);
  padding-bottom: var(--containerPadding);
}

/* ----------- PROJECT SECTION ----------- */
#projects {
  min-height: var(--projectsHeight);
  padding-top: var(--containerPadding);
  padding-bottom: var(--containerPadding);
}

/* --- PROJECT CARDS --- */
.p-card {
  background-color: var(--three);
  z-index: 1;
  border: none;
  border-radius: var(--borderRadius);
}

.p-card:hover {
  cursor: pointer;
  transition: .5s;
}

.p-card > img {
  filter: grayscale(100%);
  border-radius: var(--borderRadius);
  z-index: 0;
  transition: .2s;
}

.p-card:hover > img {
  filter: grayscale(0%) blur(10px) opacity(.5);
  transition: .2s ease-in-out;
}

.hide {
  display: none;
  transition: .2s ease-in-out;
}

.p-card:hover .hide {
  display: flex;
  transition: .2s ease-in-out;
}

/* --- PROJECT MODALS --- */
.modal-content {
  border: none;
  height: fit-content !important;
}

.modal-body {
  padding: 30px;
  background-color: var(--two);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.carousel-indicators {
  bottom: 3px;
}

.carousel-indicators > button {
  background-color: var(--five) !important;
}

.carousel-inner {
  background-color: var(--three);
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

.carousel-item {
  padding: 30px;
}

.carousel-item > img {
  vertical-align: middle !important;
}

@media screen and (max-width: 992px) {
  .carousel-item > img {
    max-width: 100% !important;
    max-height: 100% !important;
    height: auto !important;
  } 
}
.close-button {
  position: absolute;
  bottom: 10px;
  right: 0px
}

.carousel-inner {
  height: 48vh;
}

.modal-body {
  height: 24vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--four);
}

/* ----------- SKILLS SECTION ----------- */
#skills {
  min-height: var(--skillsHeight);
  /* padding-top: var(--containerPadding); */
  /* padding-bottom: var(--containerPadding); */
}

.text-logo ~ svg {
  filter: grayscale(100%)
}

.text-logo:hover + svg,
.text-logo ~ svg:hover {
  filter: grayscale(0%)
}

/* ----------- ABOUT SECTION ----------- */
#about {
  min-height: var(--aboutHeight);
  width: 100%;
  padding-top: var(--containerPadding);
  padding-bottom: var(--containerPadding)
}

#about-photo-1 {
  max-width:100%;
  max-height:100%;
}

#quoteCarousel {
  padding: 0;
  /* height: auto !important; */
  max-height: 144px;
}

#quoteCarousel > .carousel-inner {
  height: 120px;
  padding: 0;
  background-color: var(--two);
}

#quoteCarousel > .carousel-inner > .carousel-item {
  height: 120px;
  padding: 0;
}

/* ----------- FOOTER ----------- */
#footer {
  background-color: var(--one);
}